<html>
  <head>
  <head>
  <body>
    <%= form_tag('/get_data',class: :button, method: :post) do %> 
      <input type="text" name="url1"> 
      <input type="submit"> 
    <% end %>
    <%= image_tag 'pulas.png' , class: 'pulas' %>
  </body>
</html>